@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>105 Bà Huyện Thanh Quan, Quận 3</p>
<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxWbKeS8vdTERzqypt2DJGDw&key=AIzaSyC16cxPOnn1ftYXONSOTPN_6ymGO7YcQaQ" allowfullscreen></iframe>